body {
  background: white;
  font-family: "Verdana",sans-serif;
  margin: 0px;
}
body > header {
  background: darkgreen;
  color: white;
}
body > header > nav > ul {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 8px;
  margin: 0px;
}
body > header > nav > ul > li {
  color: white;
}
.splashscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: url(https://www.arborday.org/images/hero/medium/hero-ring-of-trees-looking-up.jpg);
  color: white;
}
.splashscreen article {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  background: darkgreen;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
.activities {
    text-align: center;
    color: white;
    background: darkgreen;
    overflow: hidden;
}
.activities h2 {
    padding: 0px;
    margin: 5px;
}
.activities article {
    width: 33.3333333%;
    float: left;
    color: white;
    background: darkgreen;
}
.quote {
    height: 60vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
}
.quote > p {
    margin-left: 16px;
    }
